<!-- OpenGraph-->
<meta property="og:title" content="{{site.title}}" />
<meta property="og:description" content="[{{site.description}}]" />
<meta property="og:url" content="{{page.url}}" />
<meta property="og:image" content="http://www.yoursite.com/yourimage.jpg" />
<meta property="og:site_name" content="The Name Of Your Site" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Title Of Your Content Here" />
<meta name="twitter:description" content="Description of your content here" />
<meta name="twitter:site" content="@yourusername" />
<meta name="twitter:image" content="http://www.yoursite.com/yourimage.jpg" />
<meta name="twitter:creator" content="@yourusername" />