--- 
--- 
@charset "UTF-8";

@use "reset";
@use "kenburns";
@use "nav-sidebar";

/*Texto*/
/*@use "texto";*/
body {
     font-family: 'Abel', sans-serif;
     font-size: 100%;
     font-weight: 600;
     line-height: 1.5;
}