---
layout: default
---
{% include post_css.html %}


</head>
<body>
  <!--Hero-->
  <div>
    <div id='hero'>
      <div class='layer-bg layer' data-depth='0.10' data-type='parallax'></div>
      <div class='layer-1 layer' data-depth='0.20' data-type='parallax'></div>
      <div class='layer-2 layer' data-depth='0.65' data-type='parallax'></div>
      <div class="top-title">{{page.title}}</div>
      <div class='layer-overlay layer' data-depth='0.85' data-type='parallax'></div>
      <div class='layer-3 layer' data-depth='1.00' data-type='parallax'></div>
    </div>
    
    <div id='hero-mobile'><div class="top-title">{{page.title}}</div></div>
<!--End Hero-->
  </div>






<div id="content">

  <header>  
    <h1">{{page.title}}</h1>
      <p>
        <svg viewBox="0 0 384 512" height="2em" title="hiking">
            <path d="M80.95 472.23c-4.28 17.16 6.14 34.53 23.28 38.81 2.61.66 5.22.95 7.8.95 14.33 0 27.37-9.7 31.02-24.23l25.24-100.97-52.78-52.78-34.56 138.22zm14.89-196.12L137 117c2.19-8.42-3.14-16.95-11.92-19.06-43.88-10.52-88.35 15.07-99.32 57.17L.49 253.24c-2.19 8.42 3.14 16.95 11.92 19.06l63.56 15.25c8.79 2.1 17.68-3.02 19.87-11.44zM368 160h-16c-8.84 0-16 7.16-16 16v16h-34.75l-46.78-46.78C243.38 134.11 228.61 128 212.91 128c-27.02 0-50.47 18.3-57.03 44.52l-26.92 107.72a32.012 32.012 0 0 0 8.42 30.39L224 397.25V480c0 17.67 14.33 32 32 32s32-14.33 32-32v-82.75c0-17.09-6.66-33.16-18.75-45.25l-46.82-46.82c.15-.5.49-.89.62-1.41l19.89-79.57 22.43 22.43c6 6 14.14 9.38 22.62 9.38h48v240c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16V176c.01-8.84-7.15-16-15.99-16zM240 96c26.51 0 48-21.49 48-48S266.51 0 240 0s-48 21.49-48 48 21.49 48 48 48z" />
          </svg>
      </p>
  </header>


  <section  class="store">
  <div id="map" style="height: 500px;"></div>
</section>

<!--
  Navegação
-->

<div class="navigation">
  <nav class="navbar">
    <a class="nav-item" style="padding: 1rem 1.5rem 1rem .5rem;" href="#">
        <img src="https://img.icons8.com/fluency-systems-regular/48/000000/home.png" width="28px" height="28px" />
      </a>
      
      <a class="nav-item" href="#">
        <img src="https://img.icons8.com/fluency-systems-regular/48/000000/hearts.png" width="28px" height="28px" />
      </a>
  </nav>
  </div>


  <!--  /* galeria */
/*basic code from https://css-tricks.com/adaptive-photo-layout-with-flexbox/ */
-->
<section class="galeria">
  <div class="store">
    <h2> Galeria </h2>
 
   <ul>
 {% for image in site.static_files %} 
 {% if image.path contains page.folder %}
 {% comment %}     <!-- filter to avoid all but image files --> {% endcomment %}
 {% if image.extname == '.jpg' or image.extname == '.jpeg' or image.extname == '.JPG' or image.extname == '.JPEG' %}
 
 
 <li><a data-fslightbox href="{{image.path}}">
   {% picture jpt-webp {{image.path}} %}
   
 </a></li>
 
 
 {% endif %}
 {% endif %} 
 
 {% endfor %} 
 
   
   
   
 
 </ul>
 </div>
 
</section>


<!-- page footer -->
</div>
<footer>
	<p>
		Created by 
		<a href="https://nunogand.com">Nuno Rodrigues</a>
	</p>
</footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.3/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-ui@0.5.9/dist/leaflet-ui.js"></script>
  <script src="https://unpkg.com/@raruto/leaflet-elevation/dist/leaflet-elevation.js"></script>


  


<script>
    let mylocale = {
			"Acceleration"      : "Aceleração",
			"Altitude"          : "Altitude",
			"Slope"             : "Inclinação",
			"Speed"             : "Velocidade",
			"Total Length: "    : "Distância Percorrida: ",
			"Max Elevation: "   : "Altitude máxima: ",
			"Min Elevation: "   : "Altitude mínima: ",
			"Avg Elevation: "   : "Altitude média: ",
			"Total Time: "      : "Duração: ",
			"Total Ascent: "    : "Total subida: ",
			"Total Descent: "   : "Total descida: ",
			"Min Slope: "       : "Inclinação Min: ",
			"Max Slope: "       : "Inclinação Max: ",
			"Avg Slope: "       : "Inclinação Média: ",
			"Min Speed: "       : "Velocidade Min: ",
			"Max Speed: "       : "Velocidade Max: ",
			"Avg Speed: "       : "Velocidade Média: ",
			"Min Acceleration: ": "Aceleração Min: ",
			"Max Acceleration: ": "Aceleração Max: ",
			"Avg Acceleration: ": "Aceleração Média: ",
			"y: "				: "Altitude: ",
			"x: "				: "Distância: ",
			"t: "				: "Data: ",
			"T: "				: "Duração: ",
			"m: "				: "Inclinação: ",
			"v: "				: "Velocidade: ",
			"a: "				: "Aceleração: ",
		};

L.registerLocale('pt', mylocale);
		L.setLocale('pt');

// Full list options at "leaflet-elevation.js"
  var elevation_options = {
   
    // Default chart colors: theme lime-theme, magenta-theme, ...
    theme: "lightblue-theme",

    // Chart container outside/inside map container
    detached: true,

    // if (detached), the elevation chart container
    elevationDiv: "#elevation-div",

    // if (!detached) autohide chart profile on chart mouseleave
    autohide: false,

    // if (!detached) initial state of chart profile control
    collapsed: false,
    
    // if (!detached) control position on one of map corners
    position: "topright",
    
    // Toggle close icon visibility
    closeBtn: true,

    // Autoupdate map center on chart mouseover.
    followMarker: true,

    // Autoupdate map bounds on chart update.
    autofitBounds: true,

    // Chart distance/elevation units.
    imperial: false,

    // [Lat, Long] vs [Long, Lat] points. (leaflet default: [Lat, Long])
    reverseCoords: false,

    // Acceleration chart profile: true || "summary" || "disabled" || false
    acceleration: false,

    // Slope chart profile: true || "summary" || "disabled" || false
    slope: "summary",

    // Speed chart profile: true || "summary" || "disabled" || false
    speed: true,

    // Altitude chart profile: true || "summary" || "disabled" || false
    altitude: true,

    // Display time info: true || "summary" || false
    time: true,

    // Display distance info: true || "summary" || false
    distance: true,

    // Summary track info style: "inline" || "multiline" || false
    summary: 'inline',

    // Download link: "link" || false || "modal"
    downloadLink: "link",

    // Toggle chart ruler filter
    ruler: true,

    // Toggle chart legend filter
    legend: true,

    // Toggle "leaflet-almostover" integration
    almostOver: true,

    // Toggle "leaflet-distance-markers" integration
    distanceMarkers: false,
    
    // Toggle "leaflet-hotline" integration
    hotline: true,

    // Display track datetimes: true || false
    timestamps: true,

    // Display track waypoints: true || "markers" || "dots" || false
    waypoints: true,

    // Toggle custom waypoint icons: true || { associative array of <sym> tags } || false
    wptIcons: {
      '': L.divIcon({
        className: 'elevation-waypoint-marker',
        html: '<i class="elevation-waypoint-icon"></i>',
        iconSize: [30, 30],
        iconAnchor: [8, 30],
      }),
    },

    // Toggle waypoint labels: true || "markers" || "dots" || false
    wptLabels: true,

    // Render chart profiles as Canvas or SVG Paths
    preferCanvas: true,

  };

  // Instantiate map (leaflet-ui).
  var map = L.map('map', { mapTypeId: 'terrain', center: [41.4583, 12.7059], zoom: 5 });

  // Instantiate elevation control.
  var controlElevation = L.control.elevation(elevation_options).addTo(map);



{% for gpx in site.static_files %} 

{% if gpx.path contains page.folder %}

{% comment %}     <!-- filter to select gpx --> {% endcomment %}
{% if gpx.extname == '.gpx' or gpx.extname == '.GPX' %}


  // Load track from url (allowed data types: "*.geojson", "*.gpx", "*.tcx")
  controlElevation.load("{{gpx.path}}");

  {% endif %}
{% endif %} 

{% endfor %} 



(function() {
  // Tutorial: https://medium.com/@patrickwestwood/how-to-make-multi-layered-parallax-illustration-with-css-javascript-2b56883c3f27
  window.addEventListener('scroll', function(event) {
    var depth, i, layer, layers, len, movement, topDistance, translate3d;
    topDistance = this.pageYOffset;
    layers = document.querySelectorAll("[data-type='parallax']");
    for (i = 0, len = layers.length; i < len; i++) {
      layer = layers[i];
      depth = layer.getAttribute('data-depth');
      movement = -(topDistance * depth);
      translate3d = 'translate3d(0, ' + movement + 'px, 0)';
      layer.style['-webkit-transform'] = translate3d;
      layer.style['-moz-transform'] = translate3d;
      layer.style['-ms-transform'] = translate3d;
      layer.style['-o-transform'] = translate3d;
      layer.style.transform = translate3d;
    }
  });

}).call(this);



</script>

</body>
